:root {
    --font-size: 18px;
}

body {
    color: var(--foreground-color);
    font-family: 'Open Sans', 'Arial', serif;
    font-weight: 500;
    font-size: var(--font-size);
}

::selection {
    background-color: rgba(255, 234, 106, 0.4);
}

p, a {
    font-size: var(--font-size);
}

h1 {
    color: var(--yellow);
}

h2 {
    color: var(--yellow-light);
}