@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');
@import './colors.css';
@import './fonts.css';

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

a {
  color: var(--yellow-light);
}